body{
	background: #ffffff;

}
header nav{ 
	background:	#0000ff;
		overflow:hidden;
}
header nav ul{
list-style: none;

}
header nav ul li{
	float: left;
}
header nav ul li a{
	padding: 10px 20px;
	display: block;
	color:#000000;
	text-decoration: none;

}
header nav ul li a:hover{
	background: #a9a9a9;
}
.p1{font-family: ¨Karla¨, sans-serif;}


